@page
@model Shop.UI.Pages.WishlistModel
@{
    ViewData["Title"] = "Избранное";
}


<div class="page-header text-center" style="background-image: url('/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Избранное</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="Index">Главная</a></li>
            <li class="breadcrumb-item"><a asp-page="Shop">Магазин</a></li>
            <li class="breadcrumb-item active" aria-current="page">Избранное</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<partial name="_WishPartial" model="@Model.Wish" />




@section scripts {

    <script>

        var addOneToWish = function (e) {
            var stockId = e.target.dataset.stockId;
            http.post("/Wish/AddOneWish/" + stockId)
                .then(() => {
                    updateWish();
                }).catch(err => {
                    alert(err.error);
                })
        }

        var removeOneFromWish = function (e) {
            var stockId = e.target.dataset.stockId;
            removeFromWish(stockId);
        }

        var removeAllFromWish = function (e) {
            var stockId = e.target.dataset.stockId;
            removeFromWish(stockId);
        }

        var removeFromWish = function (stockId) {
            http.post("/Wish/RemoveWish/" + stockId)
                .then(() => {
                    updateWish();
                }).catch(err => {
                    alert(err.error);
                })
        }

        var updateWish = function () {
            http.get('/Wish/GetWishComponent')
                .then(html => {
                    document.getElementById('wish-nav').outerHTML = html;
                });
            http.get('/Wish/GetWishMain')
                .then(html => {
                    document.getElementById('wish-main').outerHTML = html;
                });
        }

        var addOneToCart = function (stockId) {
            http.post("/Cart/AddOne/" + stockId)
                .then(() => {
                    updateCart();
                    toastr["success"]("Товар добавлен в корзину")
                }).catch(err => {
                    alert(err.error);
                })
        };
        var updateCart = function () {
            http.get('/Cart/GetCartComponent')
                .then(html => {
                    document.getElementById('cart-nav').outerHTML = html;
                });
            http.get('/Cart/GetCartMedium')
                .then(html => {
                    document.getElementById('cart-med').outerHTML = html;
                });
            http.get('/Cart/GetCartMain')
                .then(html => {
                    document.getElementById('cart-main').outerHTML = html;
                });
        }
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

}

