@page
@model Shop.UI.Pages.WishlistModel
@{
    ViewData["Title"] = "Избранное";
}


<div class="page-header text-center" style="background-image: url('/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Избранное</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="Index">Главная</a></li>
            <li class="breadcrumb-item"><a asp-page="Shop">Магазин</a></li>
            <li class="breadcrumb-item active" aria-current="page">Избранное</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<partial name="_WishPartial" model="@Model.Wish" />




@section scripts {

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        var addOneToWish = function (e) {
            var stockId = e.target.dataset.stockId;
            axios.post("/Wish/AddOneWish/" + stockId)
                .then(res => {
                    updateWish();
                }).catch(err => {
                    alert(err.error);
                })
        }

        var removeOneFromWish = function (e) {
            var stockId = e.target.dataset.stockId;
            removeFromWish(stockId);
        }

        var removeAllFromWish = function (e) {
            var stockId = e.target.dataset.stockId;
            //var id = "stock-qty-" + stockId;
            //var el = document.getElementById(id);
            removeFromWish(stockId);
        }

        var removeFromWish = function (stockId) {
            axios.post("/Wish/RemoveWish/" + stockId)
                .then(res => {
                    updateWish();
                }).catch(err => {
                    alert(err.error);
                })
        }

        var updateWish = function () {
            axios.get('/Wish/GetWishComponent')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('wish-nav');

                    el.outerHTML = html;
                });
            axios.get('/Wish/GetWishMain')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('wish-main');

                    el.outerHTML = html;
                })

        }

        var addOneToCart = function (stockId) {
            axios.post("/Cart/AddOne/" + stockId)
                .then(res => {
                    updateCart();
                    toastr["success"]("Товар добавлен в корзину")
                }).catch(err => {
                    alert(err.error);
                })
        };
        var updateCart = function () {
            axios.get('/Cart/GetCartComponent')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('cart-nav');

                    el.outerHTML = html;
                });
            axios.get('/Cart/GetCartMedium')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('cart-med');

                    el.outerHTML = html;
                });
            axios.get('/Cart/GetCartMain')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('cart-main');

                    el.outerHTML = html;
                })
        }
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

}

